# День 00 – Сбор данных

Добро пожаловать в Jupyter Notebook! Это тот инструмент, в котором дата сайентисты проводят больше всего времени, работая с данными при помощи кода на Python. Здесь очень удобно работать в интерактивном режиме, запуская отдельные ячейки, а не весь код сразу и полностью. Тут же можно делать и отчеты, поскольку помимо кода, здесь удобно строить графики и писать текст.

Мы понимаем, что вы не программисты и скорее всего не планируете ими стать, поэтому насколько это возможно мы будем сопровождать такие ноутбуки комментариями и полезными командами, которые могут вам пригодиться для решения задачи. Но естественно здесь будет не всё: что-то вам придется поискать самостоятельно в интернете. Такова уж методология Школы 21, и она приносит свои плоды.

## 0. Импорт библиотек

Библиотека – это по сути набор полезных функций и методов, которые написали одни программисты, а другие программисты могут уже не писать их с нуля, а пользоваться готовыми. Например, вы хотите посчитать среднее арифметическое значение по ряду. Вы можете самостоятельно написать код, который посчитает сумму по ряду и поделит на количество элементов в ряду, а можете импортировать библиотеку, где уже есть эта функция и воспользоваться ею. Это сэкономит вам время, силы, и код будет менее объемным.

Ниже мы импортируем широко используемую библиотеку Pandas. В ней есть много полезных функций для работы с табличными данными. Почти Excel, только взаимодействие с ним через код на Python. Мы будем пользоваться этой библиотекой в течение всего курса.

In [ ]:
import pandas as pd #мы будем часто пользоваться методами этой библиотеки, поэтому введем для нее сокращенное название – pd

## 1. Загрузка данных

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/School21/day00/part_01.csv') #указываем путь к файлу
df1.head() #посмотрим несколько первых строк получившегося датафрейма

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,CNT_TRAN_ATM_TENDENCY3M,CNT_TRAN_AUT_TENDENCY1M,CNT_TRAN_AUT_TENDENCY3M,CNT_TRAN_CLO_TENDENCY1M,...,SUM_TRAN_CLO_TENDENCY3M,SUM_TRAN_MED_TENDENCY1M,SUM_TRAN_MED_TENDENCY3M,SUM_TRAN_SUP_TENDENCY1M,SUM_TRAN_SUP_TENDENCY3M,TRANS_AMOUNT_TENDENCY3M,TRANS_CNT_TENDENCY3M,TRANS_COUNT_ATM_PRC,TRANS_COUNT_NAS_PRC,TRANS_COUNT_SUP_PRC
0,358628,0.914453,0.003802,0.000000,0.030183,0.216216,0.540541,0.333333,0.333333,NaN,...,NaN,NaN,NaN,0.004301,0.538223,0.612532,0.338028,0.521127,0.000000,0.211268
1,528730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,160451,0.989403,0.000239,0.000992,0.000765,NaN,0.312500,NaN,0.333333,NaN,...,NaN,NaN,1.000000,NaN,0.037963,0.200819,0.208955,0.477612,0.164179,0.059701
3,210467,0.561584,0.000000,0.016932,0.009256,NaN,0.600000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.609531,0.458333,0.208333,0.041667,0.083333
4,292486,0.201789,0.147567,0.033131,0.165119,0.142857,1.000000,NaN,0.400000,0.266667,...,0.40148,0.129829,0.586312,0.122523,0.640830,0.512312,0.554054,0.031532,0.018018,0.193694

Если всё получилось, то вы увидите небольшой кусок таблицы: шапку, первые пять строчек и часть столбцов (несколько первых и несколько последних).

## 2. Полезные команды

Ниже мы покажем несколько полезных команд, которые вам могут пригодиться для выполнения сегодняшнего задания.

1. Узнать **названия полей** в датафрейме.

In [ ]:
df1.columns

Index(['ID', 'AMOUNT_RUB_ATM_PRC', 'AMOUNT_RUB_CLO_PRC', 'AMOUNT_RUB_NAS_PRC',
       'AMOUNT_RUB_SUP_PRC', 'CNT_TRAN_ATM_TENDENCY1M',
       'CNT_TRAN_ATM_TENDENCY3M', 'CNT_TRAN_AUT_TENDENCY1M',
       'CNT_TRAN_AUT_TENDENCY3M', 'CNT_TRAN_CLO_TENDENCY1M',
       'CNT_TRAN_CLO_TENDENCY3M', 'CNT_TRAN_MED_TENDENCY1M',
       'CNT_TRAN_MED_TENDENCY3M', 'CNT_TRAN_SUP_TENDENCY1M',
       'CNT_TRAN_SUP_TENDENCY3M', 'SUM_TRAN_ATM_TENDENCY1M',
       'SUM_TRAN_ATM_TENDENCY3M', 'SUM_TRAN_AUT_TENDENCY1M',
       'SUM_TRAN_AUT_TENDENCY3M', 'SUM_TRAN_CLO_TENDENCY1M',
       'SUM_TRAN_CLO_TENDENCY3M', 'SUM_TRAN_MED_TENDENCY1M',
       'SUM_TRAN_MED_TENDENCY3M', 'SUM_TRAN_SUP_TENDENCY1M',
       'SUM_TRAN_SUP_TENDENCY3M', 'TRANS_AMOUNT_TENDENCY3M',
       'TRANS_CNT_TENDENCY3M', 'TRANS_COUNT_ATM_PRC', 'TRANS_COUNT_NAS_PRC',
       'TRANS_COUNT_SUP_PRC'],
      dtype='object')

2. Присоединить датафрейм **снизу**:

In [ ]:
new_df = pd.concat([df1, df1])
new_df

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,CNT_TRAN_ATM_TENDENCY3M,CNT_TRAN_AUT_TENDENCY1M,CNT_TRAN_AUT_TENDENCY3M,CNT_TRAN_CLO_TENDENCY1M,...,SUM_TRAN_CLO_TENDENCY3M,SUM_TRAN_MED_TENDENCY1M,SUM_TRAN_MED_TENDENCY3M,SUM_TRAN_SUP_TENDENCY1M,SUM_TRAN_SUP_TENDENCY3M,TRANS_AMOUNT_TENDENCY3M,TRANS_CNT_TENDENCY3M,TRANS_COUNT_ATM_PRC,TRANS_COUNT_NAS_PRC,TRANS_COUNT_SUP_PRC
0,358628,0.914453,0.003802,0.000000,0.030183,0.216216,0.540541,0.333333,0.333333,NaN,...,NaN,NaN,NaN,0.004301,0.538223,0.612532,0.338028,0.521127,0.000000,0.211268
1,528730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,160451,0.989403,0.000239,0.000992,0.000765,NaN,0.312500,NaN,0.333333,NaN,...,NaN,NaN,1.000000,NaN,0.037963,0.200819,0.208955,0.477612,0.164179,0.059701
3,210467,0.561584,0.000000,0.016932,0.009256,NaN,0.600000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.609531,0.458333,0.208333,0.041667,0.083333
4,292486,0.201789,0.147567,0.033131,0.165119,0.142857,1.000000,NaN,0.400000,0.266667,...,0.401480,0.129829,0.586312,0.122523,0.640830,0.512312,0.554054,0.031532,0.018018,0.193694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177590,436199,0.053320,0.335136,0.006398,0.358373,NaN,1.000000,NaN,NaN,NaN,...,0.172400,NaN,0.027461,0.131213,0.328473,0.338468,0.489583,0.010417,0.010417,0.510417
177591,302713,0.988683,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.904762,0.000000,0.000000
177592,388457,0.862786,0.014315,0.024003,0.026517,0.250000,0.458333,0.200000,0.600000,0.500000,...,0.202164,NaN,NaN,NaN,NaN,0.505671,0.357143,0.428571,0.196429,0.035714
177593,364908,0.789238,0.000000,0.000000,0.000000,0.333333,0.333333,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.579093,0.181818,0.136364,0.000000,0.000000
177594,278117,0.542692,0.074698,0.071352,0.025446,0.200000,0.600000,1.000000,1.000000,NaN,...,NaN,NaN,0.552688,0.026500,0.929510,0.529478,0.585714,0.214286,0.414286,0.100000

3. Присоединить датафрейм **справа**:

In [ ]:
df1.merge(df1, left_on='ID', right_on='ID') # выбираем ID в качестве ключа, по которому датафреймы будут объединяться

,ID,AMOUNT_RUB_ATM_PRC_x,AMOUNT_RUB_CLO_PRC_x,AMOUNT_RUB_NAS_PRC_x,AMOUNT_RUB_SUP_PRC_x,CNT_TRAN_ATM_TENDENCY1M_x,CNT_TRAN_ATM_TENDENCY3M_x,CNT_TRAN_AUT_TENDENCY1M_x,CNT_TRAN_AUT_TENDENCY3M_x,CNT_TRAN_CLO_TENDENCY1M_x,...,SUM_TRAN_CLO_TENDENCY3M_y,SUM_TRAN_MED_TENDENCY1M_y,SUM_TRAN_MED_TENDENCY3M_y,SUM_TRAN_SUP_TENDENCY1M_y,SUM_TRAN_SUP_TENDENCY3M_y,TRANS_AMOUNT_TENDENCY3M_y,TRANS_CNT_TENDENCY3M_y,TRANS_COUNT_ATM_PRC_y,TRANS_COUNT_NAS_PRC_y,TRANS_COUNT_SUP_PRC_y
0,358628,0.914453,0.003802,0.000000,0.030183,0.216216,0.540541,0.333333,0.333333,NaN,...,NaN,NaN,NaN,0.004301,0.538223,0.612532,0.338028,0.521127,0.000000,0.211268
1,528730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,160451,0.989403,0.000239,0.000992,0.000765,NaN,0.312500,NaN,0.333333,NaN,...,NaN,NaN,1.000000,NaN,0.037963,0.200819,0.208955,0.477612,0.164179,0.059701
3,210467,0.561584,0.000000,0.016932,0.009256,NaN,0.600000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.609531,0.458333,0.208333,0.041667,0.083333
4,292486,0.201789,0.147567,0.033131,0.165119,0.142857,1.000000,NaN,0.400000,0.266667,...,0.401480,0.129829,0.586312,0.122523,0.640830,0.512312,0.554054,0.031532,0.018018,0.193694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177590,436199,0.053320,0.335136,0.006398,0.358373,NaN,1.000000,NaN,NaN,NaN,...,0.172400,NaN,0.027461,0.131213,0.328473,0.338468,0.489583,0.010417,0.010417,0.510417
177591,302713,0.988683,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.904762,0.000000,0.000000
177592,388457,0.862786,0.014315,0.024003,0.026517,0.250000,0.458333,0.200000,0.600000,0.500000,...,0.202164,NaN,NaN,NaN,NaN,0.505671,0.357143,0.428571,0.196429,0.035714
177593,364908,0.789238,0.000000,0.000000,0.000000,0.333333,0.333333,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.579093,0.181818,0.136364,0.000000,0.000000
177594,278117,0.542692,0.074698,0.071352,0.025446,0.200000,0.600000,1.000000,1.000000,NaN,...,NaN,NaN,0.552688,0.026500,0.929510,0.529478,0.585714,0.214286,0.414286,0.100000

Если вам не хватает команд, представленных в этом ноутбуке, то вы можете **самостоятельно воспользоваться поиском в Google**.

    "pandas how to save a csv-file with header"

## 3. Самостоятельная часть

Ниже вам нужно самим собрать целиком датасет из разрозненных кусков.

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/School21/day00/part_02.csv')
df2.head()

,ID,AGE,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,APP_REGISTR_RGN_CODE,APP_TRAVEL_PASS
0,349630,444,N,PRIVATE,Y,UH,PRIVATE,NPRIVAT,M,MANAGER,77.0,N
1,336459,324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,533853,648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,344680,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,388464,600,Y,PRIVATE,N,H,PRIVATE,JO,M,SPECIALIST,54.0,N

In [ ]:
df2.columns

Index(['ID', 'AGE', 'APP_CAR', 'APP_COMP_TYPE', 'APP_DRIVING_LICENSE',
       'APP_EDUCATION', 'APP_EMP_TYPE', 'APP_KIND_OF_PROP_HABITATION',
       'APP_MARITAL_STATUS', 'APP_POSITION_TYPE', 'APP_REGISTR_RGN_CODE',
       'APP_TRAVEL_PASS'],
      dtype='object')

In [ ]:
df3 = pd.read_csv('/content/drive/MyDrive/School21/day00/part_03.csv')
df3.head()

,ID,AVG_PCT_DEBT_TO_DEAL_AMT,AVG_PCT_MONTH_TO_PCLOSE,DEAL_GRACE_DAYS_ACC_AVG,DEAL_GRACE_DAYS_ACC_MAX,DEAL_GRACE_DAYS_ACC_S1X1,DEAL_YQZ_IR_MAX,DEAL_YQZ_IR_MIN,DEAL_YWZ_IR_MAX,DEAL_YWZ_IR_MIN,...,LDEAL_TENOR_MAX,LDEAL_TENOR_MIN,LDEAL_USED_AMT_AVG_YQZ,LDEAL_USED_AMT_AVG_YWZ,LDEAL_YQZ_CHRG,LDEAL_YQZ_COM,LDEAL_YQZ_PC,MAX_PCLOSE_DATE,MED_DEBT_PRC_YQZ,MED_DEBT_PRC_YWZ
0,353144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,373635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,273973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,521836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,491543,NaN,NaN,1.0,1.0,1.0,NaN,NaN,25.99,25.99,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0

In [ ]:
df3.columns

Index(['ID', 'AVG_PCT_DEBT_TO_DEAL_AMT', 'AVG_PCT_MONTH_TO_PCLOSE',
       'DEAL_GRACE_DAYS_ACC_AVG', 'DEAL_GRACE_DAYS_ACC_MAX',
       'DEAL_GRACE_DAYS_ACC_S1X1', 'DEAL_YQZ_IR_MAX', 'DEAL_YQZ_IR_MIN',
       'DEAL_YWZ_IR_MAX', 'DEAL_YWZ_IR_MIN', 'LDEAL_ACT_DAYS_ACC_PCT_AVG',
       'LDEAL_ACT_DAYS_PCT_AAVG', 'LDEAL_ACT_DAYS_PCT_CURR',
       'LDEAL_ACT_DAYS_PCT_TR', 'LDEAL_ACT_DAYS_PCT_TR3',
       'LDEAL_ACT_DAYS_PCT_TR4', 'LDEAL_AMT_MONTH', 'LDEAL_DELINQ_PER_MAXYQZ',
       'LDEAL_DELINQ_PER_MAXYWZ', 'LDEAL_GRACE_DAYS_PCT_MED',
       'LDEAL_TENOR_MAX', 'LDEAL_TENOR_MIN', 'LDEAL_USED_AMT_AVG_YQZ',
       'LDEAL_USED_AMT_AVG_YWZ', 'LDEAL_YQZ_CHRG', 'LDEAL_YQZ_COM',
       'LDEAL_YQZ_PC', 'MAX_PCLOSE_DATE', 'MED_DEBT_PRC_YQZ',
       'MED_DEBT_PRC_YWZ'],
      dtype='object')

In [ ]:
df4 = pd.read_csv('/content/drive/MyDrive/School21/day00/part_04.csv')
df4.columns

Index(['ID', 'CLNT_JOB_POSITION', 'CLNT_JOB_POSITION_TYPE',
       'CLNT_SALARY_VALUE', 'CLNT_SETUP_TENOR', 'CLNT_TRUST_RELATION',
       'CR_PROD_CNT_CC', 'CR_PROD_CNT_CCFP', 'CR_PROD_CNT_IL',
       'CR_PROD_CNT_PIL', 'CR_PROD_CNT_TOVR', 'CR_PROD_CNT_VCU', 'PACK',
       'TARGET'],
      dtype='object')

In [ ]:
df5 = pd.read_csv('/content/drive/MyDrive/School21/day00/part_05.csv')
df5.columns

Index(['ID', 'CNT_ACCEPTS_MTP', 'CNT_ACCEPTS_TK', 'PRC_ACCEPTS_A_AMOBILE',
       'PRC_ACCEPTS_A_ATM', 'PRC_ACCEPTS_A_EMAIL_LINK', 'PRC_ACCEPTS_A_MTP',
       'PRC_ACCEPTS_A_POS', 'PRC_ACCEPTS_A_TK', 'PRC_ACCEPTS_MTP',
       'PRC_ACCEPTS_TK'],
      dtype='object')

In [ ]:
df6 = pd.read_csv('/content/drive/MyDrive/School21/day00/part_06.csv')
df6.columns

Index(['ID', 'REST_AVG_CUR', 'REST_AVG_PAYM', 'REST_DYNAMIC_CC_1M',
       'REST_DYNAMIC_CC_3M', 'REST_DYNAMIC_CUR_1M', 'REST_DYNAMIC_CUR_3M',
       'REST_DYNAMIC_FDEP_1M', 'REST_DYNAMIC_FDEP_3M', 'REST_DYNAMIC_IL_1M',
       'REST_DYNAMIC_IL_3M', 'REST_DYNAMIC_PAYM_1M', 'REST_DYNAMIC_PAYM_3M',
       'REST_DYNAMIC_SAVE_3M', 'TURNOVER_CC', 'TURNOVER_DYNAMIC_CC_1M',
       'TURNOVER_DYNAMIC_CC_3M', 'TURNOVER_DYNAMIC_CUR_1M',
       'TURNOVER_DYNAMIC_CUR_3M', 'TURNOVER_DYNAMIC_IL_1M',
       'TURNOVER_DYNAMIC_IL_3M', 'TURNOVER_DYNAMIC_PAYM_1M',
       'TURNOVER_DYNAMIC_PAYM_3M', 'TURNOVER_PAYM'],
      dtype='object')

In [ ]:
df7 = pd.read_csv('/content/drive/MyDrive/School21/day00/part_07.csv')
df7.columns

Index(['ID', 'CLNT_JOB_POSITION', 'CLNT_JOB_POSITION_TYPE',
       'CLNT_SALARY_VALUE', 'CLNT_SETUP_TENOR', 'CLNT_TRUST_RELATION',
       'CR_PROD_CNT_CC', 'CR_PROD_CNT_CCFP', 'CR_PROD_CNT_IL',
       'CR_PROD_CNT_PIL', 'CR_PROD_CNT_TOVR', 'CR_PROD_CNT_VCU', 'PACK',
       'TARGET'],
      dtype='object')

In [ ]:
df8 = pd.read_csv('/content/drive/MyDrive/School21/day00/part_08.csv')
df8.columns

Index(['ID', 'AVG_PCT_DEBT_TO_DEAL_AMT', 'AVG_PCT_MONTH_TO_PCLOSE',
       'DEAL_GRACE_DAYS_ACC_AVG', 'DEAL_GRACE_DAYS_ACC_MAX',
       'DEAL_GRACE_DAYS_ACC_S1X1', 'DEAL_YQZ_IR_MAX', 'DEAL_YQZ_IR_MIN',
       'DEAL_YWZ_IR_MAX', 'DEAL_YWZ_IR_MIN', 'LDEAL_ACT_DAYS_ACC_PCT_AVG',
       'LDEAL_ACT_DAYS_PCT_AAVG', 'LDEAL_ACT_DAYS_PCT_CURR',
       'LDEAL_ACT_DAYS_PCT_TR', 'LDEAL_ACT_DAYS_PCT_TR3',
       'LDEAL_ACT_DAYS_PCT_TR4', 'LDEAL_AMT_MONTH', 'LDEAL_DELINQ_PER_MAXYQZ',
       'LDEAL_DELINQ_PER_MAXYWZ', 'LDEAL_GRACE_DAYS_PCT_MED',
       'LDEAL_TENOR_MAX', 'LDEAL_TENOR_MIN', 'LDEAL_USED_AMT_AVG_YQZ',
       'LDEAL_USED_AMT_AVG_YWZ', 'LDEAL_YQZ_CHRG', 'LDEAL_YQZ_COM',
       'LDEAL_YQZ_PC', 'MAX_PCLOSE_DATE', 'MED_DEBT_PRC_YQZ',
       'MED_DEBT_PRC_YWZ'],
      dtype='object')

In [ ]:
df9 = pd.read_csv('/content/drive/MyDrive/School21/day00/part_09.csv')
df9.columns

Index(['ID', 'AMOUNT_RUB_ATM_PRC', 'AMOUNT_RUB_CLO_PRC', 'AMOUNT_RUB_NAS_PRC',
       'AMOUNT_RUB_SUP_PRC', 'CNT_TRAN_ATM_TENDENCY1M',
       'CNT_TRAN_ATM_TENDENCY3M', 'CNT_TRAN_AUT_TENDENCY1M',
       'CNT_TRAN_AUT_TENDENCY3M', 'CNT_TRAN_CLO_TENDENCY1M',
       'CNT_TRAN_CLO_TENDENCY3M', 'CNT_TRAN_MED_TENDENCY1M',
       'CNT_TRAN_MED_TENDENCY3M', 'CNT_TRAN_SUP_TENDENCY1M',
       'CNT_TRAN_SUP_TENDENCY3M', 'SUM_TRAN_ATM_TENDENCY1M',
       'SUM_TRAN_ATM_TENDENCY3M', 'SUM_TRAN_AUT_TENDENCY1M',
       'SUM_TRAN_AUT_TENDENCY3M', 'SUM_TRAN_CLO_TENDENCY1M',
       'SUM_TRAN_CLO_TENDENCY3M', 'SUM_TRAN_MED_TENDENCY1M',
       'SUM_TRAN_MED_TENDENCY3M', 'SUM_TRAN_SUP_TENDENCY1M',
       'SUM_TRAN_SUP_TENDENCY3M', 'TRANS_AMOUNT_TENDENCY3M',
       'TRANS_CNT_TENDENCY3M', 'TRANS_COUNT_ATM_PRC', 'TRANS_COUNT_NAS_PRC',
       'TRANS_COUNT_SUP_PRC'],
      dtype='object')

In [ ]:
df10 = pd.read_csv('/content/drive/MyDrive/School21/day00/part_10.csv')
df10.columns

Index(['ID', 'REST_AVG_CUR', 'REST_AVG_PAYM', 'REST_DYNAMIC_CC_1M',
       'REST_DYNAMIC_CC_3M', 'REST_DYNAMIC_CUR_1M', 'REST_DYNAMIC_CUR_3M',
       'REST_DYNAMIC_FDEP_1M', 'REST_DYNAMIC_FDEP_3M', 'REST_DYNAMIC_IL_1M',
       'REST_DYNAMIC_IL_3M', 'REST_DYNAMIC_PAYM_1M', 'REST_DYNAMIC_PAYM_3M',
       'REST_DYNAMIC_SAVE_3M', 'TURNOVER_CC', 'TURNOVER_DYNAMIC_CC_1M',
       'TURNOVER_DYNAMIC_CC_3M', 'TURNOVER_DYNAMIC_CUR_1M',
       'TURNOVER_DYNAMIC_CUR_3M', 'TURNOVER_DYNAMIC_IL_1M',
       'TURNOVER_DYNAMIC_IL_3M', 'TURNOVER_DYNAMIC_PAYM_1M',
       'TURNOVER_DYNAMIC_PAYM_3M', 'TURNOVER_PAYM'],
      dtype='object')

In [ ]:
df11 = pd.read_csv('/content/drive/MyDrive/School21/day00/part_11.csv')
df11.columns

Index(['ID', 'AGE', 'APP_CAR', 'APP_COMP_TYPE', 'APP_DRIVING_LICENSE',
       'APP_EDUCATION', 'APP_EMP_TYPE', 'APP_KIND_OF_PROP_HABITATION',
       'APP_MARITAL_STATUS', 'APP_POSITION_TYPE', 'APP_REGISTR_RGN_CODE',
       'APP_TRAVEL_PASS'],
      dtype='object')

In [ ]:
df12 = pd.read_csv('/content/drive/MyDrive/School21/day00/part_12.csv')
df12.columns

Index(['ID', 'CNT_ACCEPTS_MTP', 'CNT_ACCEPTS_TK', 'PRC_ACCEPTS_A_AMOBILE',
       'PRC_ACCEPTS_A_ATM', 'PRC_ACCEPTS_A_EMAIL_LINK', 'PRC_ACCEPTS_A_MTP',
       'PRC_ACCEPTS_A_POS', 'PRC_ACCEPTS_A_TK', 'PRC_ACCEPTS_MTP',
       'PRC_ACCEPTS_TK'],
      dtype='object')

In [ ]:
df1.shape

(177595, 30)

In [ ]:
df2.shape

(177595, 12)

In [ ]:
df3.shape

(177595, 30)

In [ ]:
df4.shape

(177595, 14)

In [ ]:
df5.shape

(177595, 11)

In [ ]:
df6.shape

(177595, 24)

In [ ]:
df7.shape

(177595, 14)

In [ ]:
df8.shape

(177595, 30)

In [ ]:
df9.shape

(177595, 30)

In [ ]:
df10.shape

(177595, 24)

In [ ]:
df11.shape

(177595, 12)

In [ ]:
df12.shape

(177595, 11)

In [ ]:
df3.dtypes

ID                              int64
AVG_PCT_DEBT_TO_DEAL_AMT      float64
AVG_PCT_MONTH_TO_PCLOSE       float64
DEAL_GRACE_DAYS_ACC_AVG       float64
DEAL_GRACE_DAYS_ACC_MAX       float64
DEAL_GRACE_DAYS_ACC_S1X1      float64
DEAL_YQZ_IR_MAX               float64
DEAL_YQZ_IR_MIN               float64
DEAL_YWZ_IR_MAX               float64
DEAL_YWZ_IR_MIN               float64
LDEAL_ACT_DAYS_ACC_PCT_AVG    float64
LDEAL_ACT_DAYS_PCT_AAVG       float64
LDEAL_ACT_DAYS_PCT_CURR       float64
LDEAL_ACT_DAYS_PCT_TR         float64
LDEAL_ACT_DAYS_PCT_TR3        float64
LDEAL_ACT_DAYS_PCT_TR4        float64
LDEAL_AMT_MONTH               float64
LDEAL_DELINQ_PER_MAXYQZ       float64
LDEAL_DELINQ_PER_MAXYWZ       float64
LDEAL_GRACE_DAYS_PCT_MED      float64
LDEAL_TENOR_MAX               float64
LDEAL_TENOR_MIN               float64
LDEAL_USED_AMT_AVG_YQZ        float64
LDEAL_USED_AMT_AVG_YWZ        float64
LDEAL_YQZ_CHRG                float64
LDEAL_YQZ_COM                 float64
LDEAL_YQZ_PC                  float64
MAX_PCLOSE_DATE               float64
MED_DEBT_PRC_YQZ              float64
MED_DEBT_PRC_YWZ              float64
dtype: object

In [ ]:
len(df8.columns.unique ())

30

In [ ]:
len(df1.columns.unique ())

30

In [ ]:
df9.columns.unique () == df1.columns.unique ()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [ ]:
df3.columns.unique () == df8.columns.unique ()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [ ]:
df2.columns.unique () == df11.columns.unique ()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [ ]:
df4.columns.unique () == df7.columns.unique ()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [ ]:
df5.columns.unique () == df12.columns.unique ()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [ ]:
df6.columns.unique () == df10.columns.unique ()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True])

In [ ]:
df10.ID.unique() == df6.ID.unique()

array([False, False, False, ..., False, False, False])

In [ ]:
df1_9 = pd.concat([df1, df9])
df1_9

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,CNT_TRAN_ATM_TENDENCY3M,CNT_TRAN_AUT_TENDENCY1M,CNT_TRAN_AUT_TENDENCY3M,CNT_TRAN_CLO_TENDENCY1M,...,SUM_TRAN_CLO_TENDENCY3M,SUM_TRAN_MED_TENDENCY1M,SUM_TRAN_MED_TENDENCY3M,SUM_TRAN_SUP_TENDENCY1M,SUM_TRAN_SUP_TENDENCY3M,TRANS_AMOUNT_TENDENCY3M,TRANS_CNT_TENDENCY3M,TRANS_COUNT_ATM_PRC,TRANS_COUNT_NAS_PRC,TRANS_COUNT_SUP_PRC
0,358628,0.914453,0.003802,0.000000,0.030183,0.216216,0.540541,0.333333,0.333333,NaN,...,NaN,NaN,NaN,0.004301,0.538223,0.612532,0.338028,0.521127,0.000000,0.211268
1,528730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,160451,0.989403,0.000239,0.000992,0.000765,NaN,0.312500,NaN,0.333333,NaN,...,NaN,NaN,1.000000,NaN,0.037963,0.200819,0.208955,0.477612,0.164179,0.059701
3,210467,0.561584,0.000000,0.016932,0.009256,NaN,0.600000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.609531,0.458333,0.208333,0.041667,0.083333
4,292486,0.201789,0.147567,0.033131,0.165119,0.142857,1.000000,NaN,0.400000,0.266667,...,0.401480,0.129829,0.586312,0.122523,0.640830,0.512312,0.554054,0.031532,0.018018,0.193694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177590,429336,0.689106,0.000000,0.000000,0.182250,0.464286,1.000000,NaN,NaN,NaN,...,NaN,1.000000,1.000000,0.665532,1.000000,1.000000,1.000000,0.321839,0.000000,0.517241
177591,434397,0.804371,0.028065,0.009167,0.073858,0.181818,0.848485,0.076923,1.000000,NaN,...,1.000000,NaN,1.000000,0.015712,1.000000,0.781188,0.937500,0.412500,0.025000,0.337500
177592,151916,0.143807,0.026907,0.000000,0.122340,NaN,NaN,NaN,NaN,0.250000,...,0.602043,NaN,0.476628,0.217192,0.484844,0.135727,0.380000,0.070000,0.000000,0.490000
177593,165248,0.268573,0.054830,0.000000,0.100210,0.800000,0.800000,NaN,NaN,0.333333,...,0.602487,0.119438,0.554887,0.146632,0.274503,0.520461,0.565217,0.108696,0.000000,0.239130
177594,192800,0.995660,0.000000,0.000000,0.000000,0.333333,0.333333,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.350451,0.285714,0.857143,0.000000,0.000000

In [ ]:
df1_9.shape

(355190, 30)

In [ ]:
df3_8 = pd.concat([df3, df8])
df3_8

,ID,AVG_PCT_DEBT_TO_DEAL_AMT,AVG_PCT_MONTH_TO_PCLOSE,DEAL_GRACE_DAYS_ACC_AVG,DEAL_GRACE_DAYS_ACC_MAX,DEAL_GRACE_DAYS_ACC_S1X1,DEAL_YQZ_IR_MAX,DEAL_YQZ_IR_MIN,DEAL_YWZ_IR_MAX,DEAL_YWZ_IR_MIN,...,LDEAL_TENOR_MAX,LDEAL_TENOR_MIN,LDEAL_USED_AMT_AVG_YQZ,LDEAL_USED_AMT_AVG_YWZ,LDEAL_YQZ_CHRG,LDEAL_YQZ_COM,LDEAL_YQZ_PC,MAX_PCLOSE_DATE,MED_DEBT_PRC_YQZ,MED_DEBT_PRC_YWZ
0,353144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,373635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,273973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,521836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,491543,NaN,NaN,1.0,1.0,1.0,NaN,NaN,25.99,25.99,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177590,181876,NaN,NaN,0.0,0.0,0.0,NaN,NaN,45.00,45.00,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.0
177591,205325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177592,155072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177593,160223,0.0,-0.182796,NaN,NaN,NaN,23.97,23.97,NaN,NaN,...,24.0,9.0,0.75508,NaN,0.00014,NaN,0.001259,-1.645161,1.0,NaN
177594,184901,NaN,NaN,0.0,0.0,0.0,NaN,NaN,20.00,20.00,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.0

In [ ]:
df3_8.ID.unique

<bound method Series.unique of 0         353144
1         373635
2         273973
3         521836
4         491543
           ...
177590    181876
177591    205325
177592    155072
177593    160223
177594    184901
Name: ID, Length: 355190, dtype: int64>

In [ ]:
df2_11 = pd.concat([df2, df11])
df2_11

,ID,AGE,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,APP_REGISTR_RGN_CODE,APP_TRAVEL_PASS
0,349630,444,N,PRIVATE,Y,UH,PRIVATE,NPRIVAT,M,MANAGER,77.0,N
1,336459,324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,533853,648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,344680,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,388464,600,Y,PRIVATE,N,H,PRIVATE,JO,M,SPECIALIST,54.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...
177590,486747,612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177591,279824,672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177592,580685,492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177593,252557,492,NaN,PRIVATE,NaN,H,PRIVATE,RENT,M,SPECIALIST,77.0,NaN
177594,307626,300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df2_11.shape

(355190, 12)

In [ ]:
df4_7 = pd.concat([df4, df7])
df4_7

,ID,CLNT_JOB_POSITION,CLNT_JOB_POSITION_TYPE,CLNT_SALARY_VALUE,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
0,352758,NaN,NaN,NaN,2.410219,NaN,0,0,0,0,0,0,O01,0
1,578916,СОТРУДНИК,NaN,NaN,4.114410,NaN,0,0,0,0,0,0,102,0
2,452700,ГЕНЕРАЛЬНЫЙ ДИРЕКТОР,NaN,NaN,7.746130,DAUGHTER,1,0,0,0,0,0,102,0
3,262502,NaN,NaN,NaN,1.243561,NaN,0,0,0,0,0,0,102,0
4,452349,Главный инспектор,NaN,NaN,7.415485,NaN,0,0,0,0,0,0,K01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177590,305866,ГЛАВНЫЙ БУХГАЛТЕР,NaN,NaN,7.426348,NaN,0,0,1,0,0,1,301,0
177591,183041,NaN,NaN,NaN,6.071518,NaN,1,0,0,0,1,0,K01,0
177592,281147,NaN,NaN,NaN,1.023130,NaN,0,0,0,0,0,0,102,0
177593,570915,ИП,NaN,NaN,9.289141,NaN,1,0,0,0,2,0,103,0
177594,540346,КОНСТРУКТОР,NaN,NaN,2.377851,NaN,0,0,0,0,0,0,105,0

In [ ]:
df4_7.ID.unique

<bound method Series.unique of 0         352758
1         578916
2         452700
3         262502
4         452349
           ...
177590    305866
177591    183041
177592    281147
177593    570915
177594    540346
Name: ID, Length: 355190, dtype: int64>

In [ ]:
df5_12 = pd.concat([df5, df12])
df5_12

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,PRC_ACCEPTS_TK
0,556073,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,355572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,209842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,588838,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,579911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
177590,493522,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177591,177598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177592,569739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177593,280318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177594,500900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df6_10 = pd.concat([df6, df10])
df6_10

,ID,REST_AVG_CUR,REST_AVG_PAYM,REST_DYNAMIC_CC_1M,REST_DYNAMIC_CC_3M,REST_DYNAMIC_CUR_1M,REST_DYNAMIC_CUR_3M,REST_DYNAMIC_FDEP_1M,REST_DYNAMIC_FDEP_3M,REST_DYNAMIC_IL_1M,...,TURNOVER_CC,TURNOVER_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CUR_1M,TURNOVER_DYNAMIC_CUR_3M,TURNOVER_DYNAMIC_IL_1M,TURNOVER_DYNAMIC_IL_3M,TURNOVER_DYNAMIC_PAYM_1M,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_PAYM
0,291918,5064.323817,0.000000,0.0,0.0,0.230292,0.387579,0.0,0.0,0.0,...,0.0,0.0,0.0,0.587193,0.850793,0.0,0.0,0.000000,0.000000,0.000000
1,194000,0.000000,2642.496017,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.886428,0.936790,7671.198333
2,579301,2019.791200,0.000000,0.0,0.0,0.147771,0.448418,0.0,0.0,0.0,...,0.0,0.0,0.0,0.086593,0.534934,0.0,0.0,0.000000,0.000000,0.000000
3,511975,0.000000,1830.262650,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.434211,0.758335,3120.125000
4,516836,24370.154917,0.000000,0.0,0.0,0.210509,0.727481,0.0,0.0,0.0,...,0.0,0.0,0.0,0.241408,0.606401,0.0,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177590,552590,7361.284667,0.000000,0.0,0.0,0.235770,0.352654,0.0,0.0,0.0,...,0.0,0.0,0.0,0.290482,0.460527,0.0,0.0,0.000000,0.000000,0.000000
177591,531428,10693.959367,0.000000,0.0,0.0,0.021177,0.428773,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000888,0.581651,0.0,0.0,0.000000,0.000000,0.000000
177592,323888,4794.447650,0.000000,0.0,0.0,0.827040,1.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.837445,1.000000,0.0,0.0,0.000000,0.000000,0.000000
177593,486329,199174.163300,0.000000,0.0,0.0,0.248745,0.619775,0.0,0.0,0.0,...,0.0,0.0,0.0,0.132296,0.653564,0.0,0.0,0.000000,0.000000,0.000000
177594,207161,239.111617,0.000000,0.0,0.0,0.918237,0.918237,0.0,0.0,0.0,...,0.0,0.0,0.0,0.968349,0.968349,0.0,0.0,0.000000,0.000000,0.000000

In [ ]:
df6_10.ID.unique

<bound method Series.unique of 0         291918
1         194000
2         579301
3         511975
4         516836
           ...
177590    552590
177591    531428
177592    323888
177593    486329
177594    207161
Name: ID, Length: 355190, dtype: int64>

In [ ]:
df1_9_2_11 = pd.merge(df2_11, df1_9, on='ID')
df1_9_2_11

,ID,AGE,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,...,SUM_TRAN_CLO_TENDENCY3M,SUM_TRAN_MED_TENDENCY1M,SUM_TRAN_MED_TENDENCY3M,SUM_TRAN_SUP_TENDENCY1M,SUM_TRAN_SUP_TENDENCY3M,TRANS_AMOUNT_TENDENCY3M,TRANS_CNT_TENDENCY3M,TRANS_COUNT_ATM_PRC,TRANS_COUNT_NAS_PRC,TRANS_COUNT_SUP_PRC
0,349630,444,N,PRIVATE,Y,UH,PRIVATE,NPRIVAT,M,MANAGER,...,0.596038,NaN,0.629073,0.116464,0.414168,0.269321,0.394737,0.085526,0.059211,0.256579
1,336459,324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.166945,0.666667,0.000000,0.666667,0.000000
2,533853,648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.032900,0.531722,0.108702,0.350942,0.366483,0.428571,0.000000,0.142857,0.642857
3,344680,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,0.666667,0.222222,0.000000
4,388464,600,Y,PRIVATE,N,H,PRIVATE,JO,M,SPECIALIST,...,NaN,NaN,0.076487,0.073907,0.317556,0.186757,0.416667,0.041667,0.041667,0.583333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355185,486747,612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355186,279824,672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355187,580685,492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355188,252557,492,NaN,PRIVATE,NaN,H,PRIVATE,RENT,M,SPECIALIST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355189,307626,300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.337713,0.516882,0.098331,0.584141,0.724855,0.574713,0.068966,0.000000,0.356322

In [ ]:
df3_8_4_7 = pd.merge(df3_8, df4_7, on='ID')
df3_8_4_7

,ID,AVG_PCT_DEBT_TO_DEAL_AMT,AVG_PCT_MONTH_TO_PCLOSE,DEAL_GRACE_DAYS_ACC_AVG,DEAL_GRACE_DAYS_ACC_MAX,DEAL_GRACE_DAYS_ACC_S1X1,DEAL_YQZ_IR_MAX,DEAL_YQZ_IR_MIN,DEAL_YWZ_IR_MAX,DEAL_YWZ_IR_MIN,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
0,353144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.687101,NaN,0,0,0,0,0,0,105,0
1,373635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.111832,NaN,0,0,0,0,0,0,K01,0
2,273973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.681733,NaN,0,0,0,0,0,0,K01,0
3,521836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.332152,NaN,0,0,0,0,0,0,K01,0
4,491543,NaN,NaN,1.0,1.0,1.0,NaN,NaN,25.99,25.99,...,9.238066,NaN,1,0,0,0,0,0,O01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355185,181876,NaN,NaN,0.0,0.0,0.0,NaN,NaN,45.00,45.00,...,8.224743,NaN,0,0,0,0,1,0,102,0
355186,205325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.415604,NaN,0,0,0,0,0,0,105,0
355187,155072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.340335,NaN,0,0,0,0,0,0,102,0
355188,160223,0.0,-0.182796,NaN,NaN,NaN,23.97,23.97,NaN,NaN,...,2.891410,NaN,0,0,0,1,0,0,105,0
355189,184901,NaN,NaN,0.0,0.0,0.0,NaN,NaN,20.00,20.00,...,1.364528,NaN,0,0,0,0,1,0,K01,0

In [ ]:
df5_12_6_10 = pd.merge(df5_12, df6_10, on='ID')
df5_12_6_10

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,TURNOVER_CC,TURNOVER_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CUR_1M,TURNOVER_DYNAMIC_CUR_3M,TURNOVER_DYNAMIC_IL_1M,TURNOVER_DYNAMIC_IL_3M,TURNOVER_DYNAMIC_PAYM_1M,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_PAYM
0,556073,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.307964,0.429920,0.0,0.0,0.000000,0.000000,0.000
1,355572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.114061,0.962623,0.0,0.0,0.000000,0.000000,0.000
2,209842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.060483,0.701832,0.0,0.0,0.000000,0.000000,0.000
3,588838,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.228664,0.660476,0.0,0.0,0.000000,0.000000,0.000
4,579911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.021140,0.026455,0.0,0.0,0.000000,0.000000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355185,493522,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.205719,0.534972,110371.035
355186,177598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.030080,0.172372,0.0,0.0,0.000000,0.000000,0.000
355187,569739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.090860,0.349866,0.0,0.0,0.000000,0.000000,0.000
355188,280318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.274028,0.694039,0.0,0.0,0.000000,0.000000,0.000
355189,500900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.182028,0.546083,0.0,0.0,0.000000,0.000000,0.000

In [ ]:
df1_9_2_11_3_8_4_7 = pd.merge(df1_9_2_11, df3_8_4_7, on='ID')
df1_9_2_11_3_8_4_7

,ID,AGE,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
0,349630,444,N,PRIVATE,Y,UH,PRIVATE,NPRIVAT,M,MANAGER,...,7.646779,FRIEND,0,0,0,1,2,0,K01,0
1,336459,324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.566133,NaN,0,0,0,0,0,0,K01,0
2,533853,648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.143980,NaN,0,0,0,0,0,0,K01,0
3,344680,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.633338,NaN,0,0,0,0,0,0,O01,0
4,388464,600,Y,PRIVATE,N,H,PRIVATE,JO,M,SPECIALIST,...,9.127961,DAUGHTER,0,0,1,0,1,0,103,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355185,486747,612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.643980,NaN,0,0,0,0,0,0,105,0
355186,279824,672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.619905,NaN,0,0,0,0,0,0,K01,0
355187,580685,492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.176238,NaN,0,0,0,0,0,0,102,0
355188,252557,492,NaN,PRIVATE,NaN,H,PRIVATE,RENT,M,SPECIALIST,...,10.281195,FRIEND,0,0,0,0,0,0,K01,0
355189,307626,300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.082262,NaN,0,0,0,0,1,0,102,0

In [ ]:
df_all = pd.merge(df1_9_2_11_3_8_4_7, df5_12_6_10, on='ID')
df_all

,ID,AGE,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,...,TURNOVER_CC,TURNOVER_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CUR_1M,TURNOVER_DYNAMIC_CUR_3M,TURNOVER_DYNAMIC_IL_1M,TURNOVER_DYNAMIC_IL_3M,TURNOVER_DYNAMIC_PAYM_1M,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_PAYM
0,349630,444,N,PRIVATE,Y,UH,PRIVATE,NPRIVAT,M,MANAGER,...,0.0,0.0,0.0,0.051552,0.319947,0.0,0.000000,0.0,0.0,0.0
1,336459,324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.001732,0.003817,0.0,0.000000,0.0,0.0,0.0
2,533853,648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.062747,0.423462,0.0,0.000000,0.0,0.0,0.0
3,344680,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.302074,1.000000,0.0,0.000000,0.0,0.0,0.0
4,388464,600,Y,PRIVATE,N,H,PRIVATE,JO,M,SPECIALIST,...,0.0,0.0,0.0,0.101035,0.255585,0.0,0.399682,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355185,486747,612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0
355186,279824,672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.047216,0.197394,0.0,0.000000,0.0,0.0,0.0
355187,580685,492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0
355188,252557,492,NaN,PRIVATE,NaN,H,PRIVATE,RENT,M,SPECIALIST,...,0.0,0.0,0.0,1.000000,1.000000,0.0,0.000000,0.0,0.0,0.0
355189,307626,300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.090329,0.736708,0.0,0.000000,0.0,0.0,0.0

In [ ]:
# df_all.columns.values

In [ ]:
df_all_sort=df_all.sort_values('ID')
df_all_sort

,ID,AGE,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,...,TURNOVER_CC,TURNOVER_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CUR_1M,TURNOVER_DYNAMIC_CUR_3M,TURNOVER_DYNAMIC_IL_1M,TURNOVER_DYNAMIC_IL_3M,TURNOVER_DYNAMIC_PAYM_1M,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_PAYM
343992,146841,660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.131910,0.442285,0.0,0.0,0.0,0.0,0.0
115560,146842,552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.101934,0.515876,0.0,0.0,0.0,0.0,0.0
118241,146843,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.121041,0.522833,0.0,0.0,0.0,0.0,0.0
291926,146844,372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000005,0.000189,0.0,0.0,0.0,0.0,0.0
296442,146845,288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.177869,0.593648,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349454,590822,516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.119700,0.572322,0.0,0.0,0.0,0.0,0.0
335149,590823,672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.165218,0.392381,0.0,0.0,0.0,0.0,0.0
38766,590825,372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.053596,0.447377,0.0,0.0,0.0,0.0,0.0
154583,590826,540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.379720,1.000000,0.0,0.0,0.0,0.0,0.0
2907,590828,672,NaN,PRIVATE,NaN,S,PRIVATE,SO,N,SPECIALIST,...,0.0,0.0,0.0,0.262351,0.263319,0.0,0.0,0.0,0.0,0.0

In [ ]:
# df_all_sort.to_csv('d00_result.csv', index=False)

In [ ]:
# df = pd.read_csv('/content/drive/MyDrive/School21/day00/d00_result.csv')
# df

In [ ]:
df_zip = dict(method='zip',
              archive_name='d00_result.csv')  
df_all_sort.to_csv('d00_result.zip', index=False, compression=df_zip)

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/School21/day00/d00_result.zip')
df

,ID,AGE,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,...,TURNOVER_CC,TURNOVER_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CUR_1M,TURNOVER_DYNAMIC_CUR_3M,TURNOVER_DYNAMIC_IL_1M,TURNOVER_DYNAMIC_IL_3M,TURNOVER_DYNAMIC_PAYM_1M,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_PAYM
0,146841,660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.131910,0.442285,0.0,0.0,0.0,0.0,0.0
1,146842,552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.101934,0.515876,0.0,0.0,0.0,0.0,0.0
2,146843,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.121041,0.522833,0.0,0.0,0.0,0.0,0.0
3,146844,372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000005,0.000189,0.0,0.0,0.0,0.0,0.0
4,146845,288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.177869,0.593648,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355185,590822,516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.119700,0.572322,0.0,0.0,0.0,0.0,0.0
355186,590823,672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.165218,0.392381,0.0,0.0,0.0,0.0,0.0
355187,590825,372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.053596,0.447377,0.0,0.0,0.0,0.0,0.0
355188,590826,540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.379720,1.000000,0.0,0.0,0.0,0.0,0.0
355189,590828,672,NaN,PRIVATE,NaN,S,PRIVATE,SO,N,SPECIALIST,...,0.0,0.0,0.0,0.262351,0.263319,0.0,0.0,0.0,0.0,0.0

In [ ]:
df.columns.values

array(['ID', 'AGE', 'APP_CAR', 'APP_COMP_TYPE', 'APP_DRIVING_LICENSE',
       'APP_EDUCATION', 'APP_EMP_TYPE', 'APP_KIND_OF_PROP_HABITATION',
       'APP_MARITAL_STATUS', 'APP_POSITION_TYPE', 'APP_REGISTR_RGN_CODE',
       'APP_TRAVEL_PASS', 'AMOUNT_RUB_ATM_PRC', 'AMOUNT_RUB_CLO_PRC',
       'AMOUNT_RUB_NAS_PRC', 'AMOUNT_RUB_SUP_PRC',
       'CNT_TRAN_ATM_TENDENCY1M', 'CNT_TRAN_ATM_TENDENCY3M',
       'CNT_TRAN_AUT_TENDENCY1M', 'CNT_TRAN_AUT_TENDENCY3M',
       'CNT_TRAN_CLO_TENDENCY1M', 'CNT_TRAN_CLO_TENDENCY3M',
       'CNT_TRAN_MED_TENDENCY1M', 'CNT_TRAN_MED_TENDENCY3M',
       'CNT_TRAN_SUP_TENDENCY1M', 'CNT_TRAN_SUP_TENDENCY3M',
       'SUM_TRAN_ATM_TENDENCY1M', 'SUM_TRAN_ATM_TENDENCY3M',
       'SUM_TRAN_AUT_TENDENCY1M', 'SUM_TRAN_AUT_TENDENCY3M',
       'SUM_TRAN_CLO_TENDENCY1M', 'SUM_TRAN_CLO_TENDENCY3M',
       'SUM_TRAN_MED_TENDENCY1M', 'SUM_TRAN_MED_TENDENCY3M',
       'SUM_TRAN_SUP_TENDENCY1M', 'SUM_TRAN_SUP_TENDENCY3M',
       'TRANS_AMOUNT_TENDENCY3M', 'TRANS_CNT_TENDENCY3M',
       'TRANS_COUNT_ATM_PRC', 'TRANS_COUNT_NAS_PRC',
       'TRANS_COUNT_SUP_PRC', 'AVG_PCT_DEBT_TO_DEAL_AMT',
       'AVG_PCT_MONTH_TO_PCLOSE', 'DEAL_GRACE_DAYS_ACC_AVG',
       'DEAL_GRACE_DAYS_ACC_MAX', 'DEAL_GRACE_DAYS_ACC_S1X1',
       'DEAL_YQZ_IR_MAX', 'DEAL_YQZ_IR_MIN', 'DEAL_YWZ_IR_MAX',
       'DEAL_YWZ_IR_MIN', 'LDEAL_ACT_DAYS_ACC_PCT_AVG',
       'LDEAL_ACT_DAYS_PCT_AAVG', 'LDEAL_ACT_DAYS_PCT_CURR',
       'LDEAL_ACT_DAYS_PCT_TR', 'LDEAL_ACT_DAYS_PCT_TR3',
       'LDEAL_ACT_DAYS_PCT_TR4', 'LDEAL_AMT_MONTH',
       'LDEAL_DELINQ_PER_MAXYQZ', 'LDEAL_DELINQ_PER_MAXYWZ',
       'LDEAL_GRACE_DAYS_PCT_MED', 'LDEAL_TENOR_MAX', 'LDEAL_TENOR_MIN',
       'LDEAL_USED_AMT_AVG_YQZ', 'LDEAL_USED_AMT_AVG_YWZ',
       'LDEAL_YQZ_CHRG', 'LDEAL_YQZ_COM', 'LDEAL_YQZ_PC',
       'MAX_PCLOSE_DATE', 'MED_DEBT_PRC_YQZ', 'MED_DEBT_PRC_YWZ',
       'CLNT_JOB_POSITION', 'CLNT_JOB_POSITION_TYPE', 'CLNT_SALARY_VALUE',
       'CLNT_SETUP_TENOR', 'CLNT_TRUST_RELATION', 'CR_PROD_CNT_CC',
       'CR_PROD_CNT_CCFP', 'CR_PROD_CNT_IL', 'CR_PROD_CNT_PIL',
       'CR_PROD_CNT_TOVR', 'CR_PROD_CNT_VCU', 'PACK', 'TARGET',
       'CNT_ACCEPTS_MTP', 'CNT_ACCEPTS_TK', 'PRC_ACCEPTS_A_AMOBILE',
       'PRC_ACCEPTS_A_ATM', 'PRC_ACCEPTS_A_EMAIL_LINK',
       'PRC_ACCEPTS_A_MTP', 'PRC_ACCEPTS_A_POS', 'PRC_ACCEPTS_A_TK',
       'PRC_ACCEPTS_MTP', 'PRC_ACCEPTS_TK', 'REST_AVG_CUR',
       'REST_AVG_PAYM', 'REST_DYNAMIC_CC_1M', 'REST_DYNAMIC_CC_3M',
       'REST_DYNAMIC_CUR_1M', 'REST_DYNAMIC_CUR_3M',
       'REST_DYNAMIC_FDEP_1M', 'REST_DYNAMIC_FDEP_3M',
       'REST_DYNAMIC_IL_1M', 'REST_DYNAMIC_IL_3M', 'REST_DYNAMIC_PAYM_1M',
       'REST_DYNAMIC_PAYM_3M', 'REST_DYNAMIC_SAVE_3M', 'TURNOVER_CC',
       'TURNOVER_DYNAMIC_CC_1M', 'TURNOVER_DYNAMIC_CC_3M',
       'TURNOVER_DYNAMIC_CUR_1M', 'TURNOVER_DYNAMIC_CUR_3M',
       'TURNOVER_DYNAMIC_IL_1M', 'TURNOVER_DYNAMIC_IL_3M',
       'TURNOVER_DYNAMIC_PAYM_1M', 'TURNOVER_DYNAMIC_PAYM_3M',
       'TURNOVER_PAYM'], dtype=object)

In [ ]:
df_all_sort.AMOUNT_RUB_ATM_PRC

343992    1.000000
115560    0.410691
118241    0.925140
291926    1.000000
296442    1.000000
            ...
349454    0.786104
335149    0.000000
38766     0.000000
154583    0.717427
2907      1.000000
Name: AMOUNT_RUB_ATM_PRC, Length: 355190, dtype: float64

In [ ]:
df_all_sort.AGE.describe()

count    355190.000000
mean        457.148073
std         136.435457
min         168.000000
25%         348.000000
50%         432.000000
75%         552.000000
max        1128.000000
Name: AGE, dtype: float64

In [ ]:
df_all_sort.AMOUNT_RUB_ATM_PRC.describe()

count    316867.000000
mean          0.598252
std           0.363546
min           0.000000
25%           0.268672
50%           0.689935
75%           0.954526
max           1.000000
Name: AMOUNT_RUB_ATM_PRC, dtype: float64

In [ ]:
df_all_sort.CNT_TRAN_ATM_TENDENCY1M.count()

205874