In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

# Task 6: средства оптимизации библиотеки Pandas

Теперь мы рассмотрим вопрос эффективности работы программного кода. Вы уже знаете основные принципы работы с библиотекой Pandas.
Пришло время познакомиться с отдельными полезными функциями, которые большинство пользователей библиотеки Pandas не применяют и о которых даже не слышали.

<h2>
1. Прочитайте файл fines.csv, который вы сохранили в предыдущем упражнении.

In [3]:
df = pd.read_csv("/content/drive/MyDrive/School21/day10/task6/data/fines.csv")
df

        CarNumber  Refund   Fines        Make  Model  Year
0    Y163O8161RUS       2  3200.0        Ford  Focus  1989
1     E432XX77RUS       1  6500.0      Toyota  Camry  1995
2     7184TT36RUS       1  2100.0        Ford  Focus  1984
3    X582HE161RUS       2  2000.0        Ford  Focus  2015
4    92918M178RUS       1  5700.0        Ford  Focus  2014
..            ...     ...     ...         ...    ...   ...
925  A0634X199RUS       1   500.0        Audi     Q3  2014
926  B6734X190RUS       2  3000.0         BMW     X1  2018
927  V0799X177RUS       3  6000.0    Infiniti   QX70  2016
928  G7345X197RUS       2  1000.0       Lexus     CT  2011
929   D0011X50RUS       1  5000.0  Mitsubishi    ASX  2019

[930 rows x 6 columns]

<h2>
2. Итерирование: во всех следующих подзадачах необходимо рассчитать значение для каждой строки по формуле fines/refund*year, создать новый столбец с полученными данными и измерить время расчета, используя волшебную команду %%timeit в ячейке.

- Цикл: напишите функцию, которая выполнит перебор по датафрейму, используя for i in range(0, len(df)), iloc и append() в отношении списка, присвойте результат выполнения функции новому столбцу в датафрейме.
- Сделайте это с помощью функции iterrows().
- Сделайте это с помощью функции apply() и лямбда-функции.
- Сделайте это с помощью объектов Series из датафрейма.
- Сделайте это так же, как и в предыдущей подзадаче, но с помощью метода .values.

- [Что такое %timeit в Python?](https://stackoverflow.com/questions/29280470/what-is-timeit-in-python)
- [pandas.DataFrame.iterrows](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iterrows.html)
- [pandas.DataFrame.apply](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)
- [pandas.Series.values](https://pandas.pydata.org/docs/reference/api/pandas.Series.values.html)

In [4]:
# Цикл: напишите функцию, которая выполнит перебор по датафрейму, 
# используя for i in range(0, len(df)), iloc и append() в отношении списка, 
# присвойте результат выполнения функции новому столбцу в датафрейме.

def function_range():
  new_column = []
  for i in range(0, len(df)):
    new_column.append(df.iloc[i,2] / df.iloc[i,1] * df.iloc[i,5])
  return new_column

In [5]:
%%timeit
df['New_column'] = function_range()

82.4 ms ± 1.66 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [6]:
df

        CarNumber  Refund   Fines        Make  Model  Year  New_column
0    Y163O8161RUS       2  3200.0        Ford  Focus  1989   3182400.0
1     E432XX77RUS       1  6500.0      Toyota  Camry  1995  12967500.0
2     7184TT36RUS       1  2100.0        Ford  Focus  1984   4166400.0
3    X582HE161RUS       2  2000.0        Ford  Focus  2015   2015000.0
4    92918M178RUS       1  5700.0        Ford  Focus  2014  11479800.0
..            ...     ...     ...         ...    ...   ...         ...
925  A0634X199RUS       1   500.0        Audi     Q3  2014   1007000.0
926  B6734X190RUS       2  3000.0         BMW     X1  2018   3027000.0
927  V0799X177RUS       3  6000.0    Infiniti   QX70  2016   4032000.0
928  G7345X197RUS       2  1000.0       Lexus     CT  2011   1005500.0
929   D0011X50RUS       1  5000.0  Mitsubishi    ASX  2019  10095000.0

[930 rows x 7 columns]

In [7]:
# Сделайте это с помощью функции iterrows()

%%timeit
df['New_column'] = [row[1]['Fines'] / row[1]['Refund'] * row[1]['Year'] for row in df.iterrows()]

52.8 ms ± 456 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [8]:
df

        CarNumber  Refund   Fines        Make  Model  Year  New_column
0    Y163O8161RUS       2  3200.0        Ford  Focus  1989   3182400.0
1     E432XX77RUS       1  6500.0      Toyota  Camry  1995  12967500.0
2     7184TT36RUS       1  2100.0        Ford  Focus  1984   4166400.0
3    X582HE161RUS       2  2000.0        Ford  Focus  2015   2015000.0
4    92918M178RUS       1  5700.0        Ford  Focus  2014  11479800.0
..            ...     ...     ...         ...    ...   ...         ...
925  A0634X199RUS       1   500.0        Audi     Q3  2014   1007000.0
926  B6734X190RUS       2  3000.0         BMW     X1  2018   3027000.0
927  V0799X177RUS       3  6000.0    Infiniti   QX70  2016   4032000.0
928  G7345X197RUS       2  1000.0       Lexus     CT  2011   1005500.0
929   D0011X50RUS       1  5000.0  Mitsubishi    ASX  2019  10095000.0

[930 rows x 7 columns]

In [9]:
# Сделайте это с помощью функции apply() и лямбда-функции

%%timeit
df['New_column'] = df.apply(lambda x: x[2] / x[1] * x[5], axis =1)

13.5 ms ± 1.78 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [10]:
df

        CarNumber  Refund   Fines        Make  Model  Year  New_column
0    Y163O8161RUS       2  3200.0        Ford  Focus  1989   3182400.0
1     E432XX77RUS       1  6500.0      Toyota  Camry  1995  12967500.0
2     7184TT36RUS       1  2100.0        Ford  Focus  1984   4166400.0
3    X582HE161RUS       2  2000.0        Ford  Focus  2015   2015000.0
4    92918M178RUS       1  5700.0        Ford  Focus  2014  11479800.0
..            ...     ...     ...         ...    ...   ...         ...
925  A0634X199RUS       1   500.0        Audi     Q3  2014   1007000.0
926  B6734X190RUS       2  3000.0         BMW     X1  2018   3027000.0
927  V0799X177RUS       3  6000.0    Infiniti   QX70  2016   4032000.0
928  G7345X197RUS       2  1000.0       Lexus     CT  2011   1005500.0
929   D0011X50RUS       1  5000.0  Mitsubishi    ASX  2019  10095000.0

[930 rows x 7 columns]

In [11]:
# Сделайте это с помощью объектов Series из датафрейма.

%%timeit
df['New_column']=df.Fines/df.Refund*df.Year

515 µs ± 20.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [12]:
df

        CarNumber  Refund   Fines        Make  Model  Year  New_column
0    Y163O8161RUS       2  3200.0        Ford  Focus  1989   3182400.0
1     E432XX77RUS       1  6500.0      Toyota  Camry  1995  12967500.0
2     7184TT36RUS       1  2100.0        Ford  Focus  1984   4166400.0
3    X582HE161RUS       2  2000.0        Ford  Focus  2015   2015000.0
4    92918M178RUS       1  5700.0        Ford  Focus  2014  11479800.0
..            ...     ...     ...         ...    ...   ...         ...
925  A0634X199RUS       1   500.0        Audi     Q3  2014   1007000.0
926  B6734X190RUS       2  3000.0         BMW     X1  2018   3027000.0
927  V0799X177RUS       3  6000.0    Infiniti   QX70  2016   4032000.0
928  G7345X197RUS       2  1000.0       Lexus     CT  2011   1005500.0
929   D0011X50RUS       1  5000.0  Mitsubishi    ASX  2019  10095000.0

[930 rows x 7 columns]

In [13]:
# Сделайте это так же, как и в предыдущей подзадаче, но с помощью метода .values

%%timeit
df['New_column']=df.Fines/df.Refund*df.Year.values

489 µs ± 16.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [14]:
df

        CarNumber  Refund   Fines        Make  Model  Year  New_column
0    Y163O8161RUS       2  3200.0        Ford  Focus  1989   3182400.0
1     E432XX77RUS       1  6500.0      Toyota  Camry  1995  12967500.0
2     7184TT36RUS       1  2100.0        Ford  Focus  1984   4166400.0
3    X582HE161RUS       2  2000.0        Ford  Focus  2015   2015000.0
4    92918M178RUS       1  5700.0        Ford  Focus  2014  11479800.0
..            ...     ...     ...         ...    ...   ...         ...
925  A0634X199RUS       1   500.0        Audi     Q3  2014   1007000.0
926  B6734X190RUS       2  3000.0         BMW     X1  2018   3027000.0
927  V0799X177RUS       3  6000.0    Infiniti   QX70  2016   4032000.0
928  G7345X197RUS       2  1000.0       Lexus     CT  2011   1005500.0
929   D0011X50RUS       1  5000.0  Mitsubishi    ASX  2019  10095000.0

[930 rows x 7 columns]

<h2>
3. Индексация: измерьте опять же время с помощью волшебной команды %%timeit в ячейке

- Получите значения строки датафрейма для определенного номера CarNumber, например O136HO197RUS.
- Установите в качестве индекса в вашем датафрейме CarNumber.
- Снова попробуйте получить значения строки для того же номера CarNumber.

In [15]:
# Получите значения строки датафрейма для определенного номера CarNumber, например O136HO197RUS

%%timeit
df[df.CarNumber == 'O136HO197RUS']

503 µs ± 25.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [16]:
# Установите в качестве индекса в вашем датафрейме CarNumber.

%%timeit
df_index = df.set_index('CarNumber')

559 µs ± 192 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [17]:
df_index = df.set_index('CarNumber')

In [18]:
# Снова попробуйте получить значения строки для того же номера CarNumber.

%%timeit
df_index[df_index.index == 'O136HO197RUS']

306 µs ± 31.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

<h2>
4. Даункастинг (работа с типами данных):

- выполните команду df.info(memory_usage='deep'), обратите внимание на Dtype и объем используемой оперативной памяти;
- скопируйте с помощью команды copy() исходный датафрейм в другой под названием optimized;
- выполните приведение типа вниз с float64 по float32 для всех столбцов;
- выполните приведение вниз с int64 до наименьшего возможного числового dtype;
- запустите info(memory_usage='deep') теперь для нового датафрейма, обратите внимание на Dtype и объем используемой оперативной памяти.

- [Типы данных](https://pyprog.pro/data_types.html)
- [Изменение типа данных в столбце в Pandas DataFrame](https://tonais.ru/library/izmenenie-tipa-dannyh-v-stolbtse-dataframe)
- [pandas.to_numeric](https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html)
- [pandas.DataFrame.astype](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html)

In [19]:
import numpy as np

In [20]:
# выполните команду df.info(memory_usage='deep'), обратите внимание на Dtype и объем используемой оперативной памяти

df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CarNumber   930 non-null    object
 1   Refund      930 non-null    int64
 2   Fines       930 non-null    float64
 3   Make        930 non-null    object
 4   Model       919 non-null    object
 5   Year        930 non-null    int64
 6   New_column  930 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 203.8 KB

In [21]:
# скопируйте с помощью команды copy() исходный датафрейм в другой под названием optimized

optimized = df.copy()

In [22]:
# выполните приведение типа вниз с float64 по float32 для всех столбцов

optimized = optimized.astype({'Fines': np.float32, 'New_column': np.float32})

#optimized.info(memory_usage='deep')

In [23]:
# выполните приведение вниз с int64 до наименьшего возможного числового dtype

optimized.Refund = pd.to_numeric(optimized.Refund, downcast='integer')
optimized.Year = pd.to_numeric(optimized.Year, downcast='integer')

#optimized.info(memory_usage='deep')

In [24]:
# запустите info(memory_usage='deep') теперь для нового датафрейма, 
# обратите внимание на Dtype и объем используемой оперативной памяти.

optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CarNumber   930 non-null    object
 1   Refund      930 non-null    int8
 2   Fines       930 non-null    float32
 3   Make        930 non-null    object
 4   Model       919 non-null    object
 5   Year        930 non-null    int16
 6   New_column  930 non-null    float32
dtypes: float32(2), int16(1), int8(1), object(3)
memory usage: 184.7 KB

<h2>
5. Категории:

- змените столбцы типа object на тип category;
- в этот раз проверьте объем используемой оперативной памяти; вероятно, он уменьшился в 2-3 раза по сравнению с тем, что использовался исходным датафреймом.

In [25]:
# змените столбцы типа object на тип category

optimized = optimized.astype({'CarNumber': 'category', 
                              'Make': 'category',
                              'Model': 'category'})

In [26]:
# в этот раз проверьте объем используемой оперативной памяти; 
# вероятно, он уменьшился в 2-3 раза по сравнению с тем, что использовался исходным датафреймом.

optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CarNumber   930 non-null    category
 1   Refund      930 non-null    int8
 2   Fines       930 non-null    float32
 3   Make        930 non-null    category
 4   Model       919 non-null    category
 5   Year        930 non-null    int16
 6   New_column  930 non-null    float32
dtypes: category(3), float32(2), int16(1), int8(1)
memory usage: 68.2 KB

<h2>
6.Очистка памяти

- С помощью %reset_selective и библиотеки gc очистите память только исходного датафрейма.

- [Встроенные магические команды (%reset_selective)](https://ipython.readthedocs.io/en/stable/interactive/magics.html)

In [27]:
import gc

In [28]:
%reset_selective -f df