In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Task 4: селекты и агрегации

Хорошо. Теперь мы очистили наши данные: все дубликаты и все пропущенные значения удалены, а столбцы перестроены для более удобного анализа. Давайте продолжим нашу работу. У нас есть еще много вопросов, на которые необходимо найти ответы.

<h2>
1. Загрузите в пакет данных файл JSON, который вы создали в предыдущем упражнении.

- Установите CarNumber в качестве индексного столбца.

In [2]:
import pandas as pd

In [3]:
df = pd.read_json('/content/drive/MyDrive/School21/day10/task4/data/auto.json', 
                  orient='records')
df

        CarNumber  Refund         Fines    Make    Model
0    Y163O8161RUS       2   3200.000000    Ford    Focus
1     E432XX77RUS       1   6500.000000  Toyota    Camry
2     7184TT36RUS       1   2100.000000    Ford    Focus
3    X582HE161RUS       2   2000.000000    Ford    Focus
4    92918M178RUS       1   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
720  Y163O8161RUS       2   1600.000000    Ford    Focus
721  M0309X197RUS       1  22300.000000    Ford    Focus
722  O673E8197RUS       2    600.000000    Ford    Focus
723  8610T8154RUS       1   2000.000000    Ford    Focus
724  H419XE197RUS       2   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

In [4]:
# установите CarNumber в качестве индексного столбца

df.set_index("CarNumber", inplace=True)
df

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
E432XX77RUS        1   6500.000000  Toyota    Camry
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[725 rows x 4 columns]

<h2>
2. Выполните следующие срезы:

- отобразить только те строки, где значения fines превышают 2100;
- отобразить только те строки, где значения fines превышают 2100, а значение refund равно 2;
- отобразить только те строки, в которых указаны модели из следующего списка: ['Focus', 'Corolla'];
- отобразить только те строки, в которых указан регистрационный номер автомобиля из списка: ['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS'].

- [pandas.DataFrame.loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html)
- [pandas.DataFrame.isin](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isin.html)
- [pandas.DataFrame.tail](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html)
- [pandas.Index.isin](https://pandas.pydata.org/docs/reference/api/pandas.Index.isin.html)

In [5]:
# отобразить только те строки, где значения fines превышают 2100

df.loc[df.Fines > 2100].head()

              Refund        Fines    Make  Model
CarNumber
Y163O8161RUS       2  3200.000000    Ford  Focus
E432XX77RUS        1  6500.000000  Toyota  Camry
92918M178RUS       1  5700.000000    Ford  Focus
H234YH197RUS       2  6000.000000    Ford  Focus
E40577152RUS       1  8594.586466    Ford  Focus

In [6]:
# отобразить только те строки, где значения fines превышают 2100, а значение refund равно 2

df.loc[(df.Fines > 2100) & (df.Refund == 2)].head()

              Refund        Fines   Make    Model
CarNumber
Y163O8161RUS       2  3200.000000   Ford    Focus
H234YH197RUS       2  6000.000000   Ford    Focus
707987163RUS       2  2200.000000   Ford    Focus
K330T8197RUS       2  8200.000000  Skoda  Octavia
M592CH197RUS       2  8594.586466  Skoda  Octavia

In [7]:
# отобразить только те строки, в которых указаны модели из следующего списка: ['Focus', 'Corolla']

df.loc[df.Model.isin(['Focus', 'Corolla'])]

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
H234YH197RUS       2   6000.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 4 columns]

In [8]:
# отобразить только те строки, в которых указан регистрационный номер автомобиля из списка:
# ['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']

df[df.index.isin(['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS'])]

              Refund          Fines  Make  Model
CarNumber
92928M178RUS       1    8594.586466  Ford  Focus
H115YO163RUS       1    2200.000000  Ford  Focus
7788KT197RUS       2   12000.000000  Ford  Focus
X758HY197RUS       2   24200.000000  Ford  Focus
X758HY197RUS       2   72600.000000  Ford  Focus
Y7689C197RUS       1   27000.000000  Ford  Focus
92928M178RUS       1     600.000000  Ford  Focus
H115YO163RUS       1    8594.586466  Ford  Focus
H115YO163RUS       2    1100.000000  Ford  Focus
7788KT197RUS       2    8594.586466  Ford  Focus
7788KT197RUS       1   20000.000000  Ford  Focus
X758HY197RUS       2  145200.000000  Ford  Focus
92928M178RUS       1    1200.000000  Ford  Focus
Y7689C197RUS       2    9000.000000  Ford  Focus
Y7689C197RUS       2   45000.000000  Ford  Focus
7788KT197RUS       2    4000.000000  Ford  Focus
Y7689C197RUS       1   36000.000000  Ford  Focus
92928M178RUS       2    3000.000000  Ford  Focus

<h2>
3. Произведите агрегации с маркой и моделью:

- отобразите медианные штрафы в разрезе только марок (марка – медианный штраф внутри этой марки);
- отобразите медианные штрафы, сгруппированные по маркам и моделям (комбинация марка и модель – медианный штраф этой комбинации);
- отобразите количество штрафов, имеющихся в группировках по маркам и моделям, чтобы понять, можно ли доверять полученным медианным значениям;
- отобразите минимальные и максимальные штрафы, сгруппированные по маркам и моделям для того, чтобы лучше понять вариацию;
- отобразите стандартное отклонение штрафов, сгруппированных по маркам и моделям для того, чтобы лучше понять вариацию.

- [pandas.DataFrame.drop (by index)](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html)
- [pandas.DataFrame.groupby (index)](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)

In [9]:
# отобразите медианные штрафы в разрезе только марок (марка – медианный штраф внутри этой марки)

df.drop(columns="Refund").groupby(by='Make', dropna=False).median(['Fines'])

             Fines
Make
Audi        4200.0
BMW         6500.0
Ford        3500.0
Skoda       3250.0
Toyota      7700.0
Volkswagen  4300.0
Volvo       8500.0

In [10]:
# отобразите медианные штрафы, сгруппированные по маркам и моделям (комбинация марка и модель – медианный штраф этой комбинации)

df.drop(columns="Refund").groupby(by=['Make', 'Model'], dropna=False).median()

                     Fines
Make       Model
Audi       NaN      4200.0
BMW        NaN      6500.0
Ford       Focus    3500.0
           Mondeo   7650.0
Skoda      Octavia  3250.0
Toyota     Camry    7700.0
           Corolla  7700.0
Volkswagen Golf     4800.0
           Jetta    2800.0
           Passat   3500.0
           Touareg  5800.0
           NaN      7400.0
Volvo      NaN      8500.0

In [11]:
# отобразите количество штрафов, имеющихся в группировках по маркам и моделям, чтобы понять, можно ли доверять полученным медианным значениям

df.drop(columns="Refund").groupby(by=['Make', 'Model'], dropna=False).count()

                    Fines
Make       Model
Audi       NaN          1
BMW        NaN          3
Ford       Focus      575
           Mondeo       6
Skoda      Octavia     48
Toyota     Camry       16
           Corolla     18
Volkswagen Golf        20
           Jetta        6
           Passat      22
           Touareg      5
           NaN          3
Volvo      NaN          2

In [12]:
# отобразите минимальные и максимальные штрафы, сгруппированные по маркам и моделям для того, чтобы лучше понять вариацию;

- [pandas.core.groupby.DataFrameGroupBy.agg](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.core.groupby.DataFrameGroupBy.agg.html)

In [24]:
import numpy as np

In [25]:
df.drop(columns="Refund") \
  .groupby(by=['Make', 'Model'], dropna=False) \
  .agg(lambda x: (min(x), max(x), ['min', 'max']))

                                                    Fines
Make       Model
Audi       NaN               (4200.0, 4200.0, [min, max])
BMW        NaN      (3000.0, 8594.5864661654, [min, max])
Ford       Focus            (100.0, 180000.0, [min, max])
           Mondeo           (1100.0, 46200.0, [min, max])
Skoda      Octavia          (300.0, 145000.0, [min, max])
Toyota     Camry             (500.0, 22400.0, [min, max])
           Corolla           (900.0, 34300.0, [min, max])
Volkswagen Golf             (200.0, 168000.0, [min, max])
           Jetta             (500.0, 46000.0, [min, max])
           Passat            (100.0, 29700.0, [min, max])
           Touareg   (500.0, 8594.5864661654, [min, max])
           NaN               (1300.0, 7900.0, [min, max])
Volvo      NaN              (6800.0, 10200.0, [min, max])

In [26]:
# отобразите стандартное отклонение штрафов, сгруппированных по маркам и моделям для того, чтобы лучше понять вариацию.

df.drop(columns="Refund").groupby(by=['Make', 'Model'], dropna=False).std()

                           Fines
Make       Model
Audi       NaN               NaN
BMW        NaN       2826.561226
Ford       Focus    15041.269437
           Mondeo   18987.329108
Skoda      Octavia  24339.742174
Toyota     Camry     6410.250654
           Corolla   9629.325617
Volkswagen Golf     36950.839950
           Jetta    17743.026799
           Passat    6969.739135
           Touareg   3461.778173
           NaN       3674.688195
Volvo      NaN       2404.163056

<h2>
4. Произведите агрегации с регистрационным номером автомобиля:

- отобразите регистрационные номера автомобилей, сгруппированные по количеству штрафов в порядке убывания
(мы хотим найти тех, кто чаще всего нарушал правила дорожного движения);
- выберите из исходного датафрейма все строки, соответствующие регистрационному номеру с самым большим количеством нарушений
(мы хотим проанализировать эти данные более подробно);
- отобразите регистрационные номера автомобилей, сгруппированные по сумме штрафов в порядке убывания
(мы хотим найти тех, кто заплатил самую большую сумму штрафов);
- выберите из исходного датафрейма все строки, соответствующие регистрационному номеру с самой большой суммой штрафов
(мы хотим проанализировать эти данные более подробно);
- вывести на экран таблицу, отвечающую на вопрос: есть ли регистрационные номера, которые были установлены на разных моделях автомобилей?

- [pandas.Index.value_counts](https://pandas.pydata.org/docs/reference/api/pandas.Index.value_counts.html)
-

In [27]:
# отобразите регистрационные номера автомобилей, 
# сгруппированные по количеству штрафов в порядке убывания (мы хотим найти тех, кто чаще всего нарушал правила дорожного движения)

df.index.value_counts()

Y7689C197RUS    4
7788KT197RUS    4
92928M178RUS    4
Y7129Y50RUS     3
H004MH197RUS    3
               ..
X522OM161RUS    1
T017OX197RUS    1
92828M178RUS    1
Y7449Y50RUS     1
8610T8154RUS    1
Name: CarNumber, Length: 531, dtype: int64

In [28]:
# выберите из исходного датафрейма все строки, 
# соответствующие регистрационному номеру с самым большим количеством нарушений (мы хотим проанализировать эти данные более подробно)

df_max = df[df.index.value_counts() == df.index.value_counts().max()]
df_max

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

              Refund         Fines  Make  Model
CarNumber
92928M178RUS       1   8594.586466  Ford  Focus
7788KT197RUS       2  12000.000000  Ford  Focus
Y7689C197RUS       1  27000.000000  Ford  Focus
92928M178RUS       1    600.000000  Ford  Focus
7788KT197RUS       2   8594.586466  Ford  Focus
7788KT197RUS       1  20000.000000  Ford  Focus
92928M178RUS       1   1200.000000  Ford  Focus
Y7689C197RUS       2   9000.000000  Ford  Focus
Y7689C197RUS       2  45000.000000  Ford  Focus
7788KT197RUS       2   4000.000000  Ford  Focus
Y7689C197RUS       1  36000.000000  Ford  Focus
92928M178RUS       2   3000.000000  Ford  Focus

In [29]:
# отобразите регистрационные номера автомобилей, 
# сгруппированные по сумме штрафов в порядке убывания (мы хотим найти тех, кто заплатил самую большую сумму штрафов)

df_max_one = df.groupby('CarNumber').sum()\
                   .sort_values('Fines', ascending=False)
df_max_one

              Refund     Fines
CarNumber
X758HY197RUS       6  242000.0
9020YC197RUS       4  217500.0
M0279X197RUS       4  216000.0
Y352O8197RUS       6  207200.0
Y778EE197RUS       3  192000.0
...              ...       ...
83218C154RUS       1     100.0
Y195O8161RUS       1     100.0
K376HE161RUS       1     100.0
705787163RUS       1     100.0
K326T8197RUS       1     100.0

[531 rows x 2 columns]

In [30]:
# выберите из исходного датафрейма все строки, 
# соответствующие регистрационному номеру с самой большой суммой штрафов (мы хотим проанализировать эти данные более подробно)

df_one = df[df.index == df_max_one.head(1).index.values[0]]
df_one

              Refund     Fines  Make  Model
CarNumber
X758HY197RUS       2   24200.0  Ford  Focus
X758HY197RUS       2   72600.0  Ford  Focus
X758HY197RUS       2  145200.0  Ford  Focus

In [31]:
# вывести на экран таблицу, отвечающую на вопрос: 
# есть ли регистрационные номера, которые были установлены на разных моделях автомобилей?

df_group = df.drop(columns=['Refund', 'Fines']).groupby(['CarNumber', 'Make', 'Model'], dropna=False).count()
df_group

Empty DataFrame
Columns: []
Index: [(704687163RUS, Ford, Focus), (704787163RUS, Ford, Focus), (704987163RUS, Ford, Focus), (705287163RUS, Ford, Focus), (705387163RUS, Ford, Focus), (705787163RUS, Ford, Focus), (7064C8197RUS, Volkswagen, Passat), (7065C8197RUS, Volkswagen, Passat), (7066C8197RUS, Volkswagen, Passat), (707987163RUS, Ford, Focus), (708187163RUS, Ford, Focus), (708487163RUS, Ford, Focus), (708587163RUS, Ford, Focus), (7089H8163RUS, Toyota, Corolla), (7147OE161RUS, Ford, Focus), (7164YM36RUS, Ford, Focus), (7172TT36RUS, Ford, Focus), (7177TT36RUS, Ford, Focus), (7183TT36RUS, Ford, Focus), (7184TT36RUS, Ford, Focus), (7193TT36RUS, Ford, Focus), (7194TT36RUS, Ford, Focus), (7197TT36RUS, Ford, Focus), (7199MT197RUS, Volkswagen, Golf), (72457Y96RUS, Ford, Focus), (7248C8197RUS, Ford, Mondeo), (73467Y96RUS, Ford, Focus), (7360C8197RUS, Ford, Focus), (7361C8197RUS, Ford, Focus), (7363C8197RUS, Ford, Focus), (7364C8197RUS, Ford, Focus), (7365C8197RUS, Ford, Focus), (7367C8197RUS, Ford, Focus), (7368C8197RUS, Ford, Focus), (7369C8197RUS, Ford, Focus), (7370C8197RUS, Ford, Focus), (7608EE777RUS, Skoda, Octavia), (7781KT197RUS, Ford, Focus), (7783KT197RUS, Ford, Focus), (7784KT197RUS, Ford, Focus), (7788KT197RUS, Ford, Focus), (7789KT197RUS, Ford, Focus), (7826C8197RUS, Ford, Focus), (7827C8197RUS, Ford, Focus), (7828C8197RUS, Ford, Focus), (7829C8197RUS, Ford, Focus), (7830C8197RUS, Ford, Focus), (7831C8197RUS, Ford, Focus), (7840C8197RUS, Ford, Focus), (7841C8197RUS, Ford, Focus), (7842C8197RUS, Ford, Focus), (7843C8197RUS, Ford, Focus), (7844C8197RUS, Ford, Focus), (8049HT125RUS, Ford, Focus), (8164XX154RUS, Ford, Focus), (8165XX154RUS, Ford, Focus), (8166XX154RUS, Ford, Focus), (8180XX154RUS, Ford, Focus), (8182XX154RUS, Ford, Focus), (8201XX154RUS, Ford, Focus), (8224XX154RUS, Ford, Focus), (8226XX154RUS, Ford, Focus), (82337X197RUS, Ford, Focus), (8234XX154RUS, Ford, Focus), (8311XX154RUS, Ford, Focus), (8316XX154RUS, Ford, Focus), (83218C154RUS, Ford, Focus), (8321XX154RUS, Ford, Focus), (8325M7154RUS, Ford, Focus), (83298C154RUS, Ford, Focus), (8436XX154RUS, Ford, Focus), (8437XX154RUS, Ford, Focus), (8439XX154RUS, Ford, Focus), (8440XX154RUS, Ford, Focus), (84418C154RUS, Ford, Focus), (8441XX154RUS, Ford, Focus), (84438C154RUS, Ford, Focus), (8451M7154RUS, Ford, Focus), (8513XX154RUS, Ford, Focus), (8521XX154RUS, Ford, Focus), (8601XX154RUS, Skoda, Octavia), (8603T8154RUS, Ford, Focus), (8605T8154RUS, Ford, Focus), (8607XX154RUS, Skoda, Octavia), (8610T8154RUS, Ford, Focus), (8611T8154RUS, Ford, Focus), (8685HE154RUS, Ford, Focus), (8818C877RUS, Volkswagen, Passat), (89557X197RUS, Toyota, Camry), (89587X197RUS, Toyota, Camry), (90159H178RUS, Volkswagen, Passat), (9020YC197RUS, Skoda, Octavia), (9028CO161RUS, Ford, Focus), (9068EM178RUS, Ford, Focus), (9072EM178RUS, Ford, Focus), (9135X938RUS, Ford, Focus), (9137X938RUS, Ford, Focus), (9141H8178RUS, Skoda, Octavia), (9182CE154RUS, Ford, Focus), (92778M178RUS, Ford, Focus), ...]

[532 rows x 0 columns]

In [32]:
df_group_list =list(df_group.index)
for i in range(1, len(df_group_list)):
    if df_group_list[i][0] == df_group_list[i-1][0]:
        print(df_group_list[i][0])

E316EH197RUS

In [33]:
df[df.index.isin(['E316EH197RUS'])]

              Refund   Fines        Make    Model
CarNumber
E316EH197RUS       1  1300.0  Volkswagen     None
E316EH197RUS       1  1300.0  Volkswagen  Touareg